*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'inter';
    overflow-x: hidden;
}
/*navbar*/
.header nav{
    background-color: #5d4954;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}
nav .logo{
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
    color: rgb(190, 188, 188);
    font-size: 18px;
}

nav ul{
    display: flex;
    text-decoration: none;
    width: 30%;
    justify-content: space-around;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    color:  rgb(190, 188, 188);
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 3px;
}

nav ul li a:hover{
    color: rgb(160, 153, 159);
}

.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}
.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    border-radius: 3px;
    transition: all 0.5s;
}

/*animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, 1px);
}

.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 1px);
}

.menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
}

/*HOME*/

.container{
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 280px;
    z-index: -2;
}
.gallery-box{
    max-width: 420px;
    position: relative;
    margin: auto 80px;
}
.gallery-box img{
    width: 100%;
    border: 13px solid rgba(212, 210, 210, 0.2);
    box-sizing: border-box;
}
.gallery-box ul{
    position: absolute;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
}
.gallery-box ul li{
    line-height: 40px;
    color: rgb(74, 95, 116);
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    padding: 0 30px;
    cursor: pointer;
    position: relative;
}


.col-2 h1{
    font-family: 'Amaranth';
    font-size: 35px;
    color: #5d4954;
    padding: 0 50px;
    margin: 25px 0;
    line-height: 45px;
}

.col-2 p{
    padding: 0 50px;
    color: #b485a0;
    font-size: 14px;
    margin: 25px 0;
    line-height: 20px;
}
.btn{
    display: inline-block;
    background: #69505e;
    color: #fff;
    padding: 8px 30px;
    margin: 0 50px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.7s;
}
.btn:hover{
    background: rgb(160, 137, 160);
}
.header .row{
    margin-top: 50px;
}

.about-section{
    background: url(img/InShot_20200928_145621859.jpg) no-repeat left;
    background-size: 60%;
    background-color: #f1e4ec;
    overflow: hidden;
    padding: 100px 0;
}
.inner-container{
    width: 55%;
    float: right;
    background-color: #f1e4ec;
    padding: 30px;
}
.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Amarant';
    color: rgb(86, 68, 90);
}
.text{
    font-size: 15px;
    color: rgb(149, 124, 151);
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}


 /*Categories*/
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
    border-radius: 1%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.title{
    font-family: 'Amarant';
    text-align: center;
    margin: 60px 0;
    position: relative;
    line-height: 60px;
    color: rgb(121, 107, 121);
}
.title::after{
    content: '';
    background: #b485a0;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
    border-radius: 1%;
}
.col-4 p{
    color: rgb(179, 179, 179);
    font-size: 14px;
}
h4{
    font-weight: normal;
}
.col-4:hover{
    transform: translateY(-5px);
}

/*Testimoni*/
.testimoni{
    padding-top: 100px;
}
.testimoni h3{
    font-size: 14px;
    font-family: 'Fredoka One';
    font-weight: normal;
    color: #6e5162;
}
.testimoni .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgb(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimoni .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50px;
}
.testimoni .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #966f86;
}
.col-3 p{
    font-size: 13px;
    margin:  12px 0;
    color: #b485a0;
}
.rating{
    color: rgb(238, 190, 57);
}
.testimoni .col-3 h3{
    font-weight: 600;
    color: #736977;
    font-size: 16px;
}

/*Footer*/
.footer{
    background: rgb(236, 236, 236);
    font-size: 14px;
    padding: 60px 0 20px;
    font-family: 'Roboto';
}
.footer p{
    color: #977689;
}
.footer h3{
    color: #6b5060;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 160px;
    margin-bottom: 30px;
}
.footer-col-3{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
    color:  #977689;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #6e5162;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}


/*----all product---*/
.row-2{
    justify-content :space-between;
    margin: 100px auto 50px;
    font-family: 'Roboto';
    font-size: 14.5px;
}
select{
    border: 1px solid #946a83;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #946a83;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background:  #946a83;
    color: #fff;
}

.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 20px;
}
.single-product.col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
    margin-left: 50px;
}
.single-product input{
    width: 50px;
    height: 28px;
    padding-left: 10px;
    font-size: 20px;
    margin-left: 50px;
    border: 1px solid rgb(206, 195, 195);
    text-align: center;
}
input:focus{
    outline: none;
}
.single-product .fa-indent{
    color: rgb(165, 157, 157);
}

.row-2 p{
    color: rgb(118, 112, 122);
}
.row-2 h2{
   color: #6e5162;
}
a{
    text-decoration: none;
}
h3{
    font-family: 'Roboto';
    font-size: 22px;
    color: #755d6a;
    padding: 0 50px;
    margin: 25px 0;
}

/*cart items */

.cart-page{
    margin: 80px auto;
    margin-left: 5%;
    border-collapse: collapse;
    margin-bottom: 10%;
}
table{
    width: 100%;
    border-collapse: collapse;
}


.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: rgb(232, 227, 236);
    background: rgb(116, 97, 129);
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: rgb(187, 187, 187);
    font-size: 13px;
}
td img{
    width: 78px;
    height: 86px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid rgb(125, 103, 138);
    width: 100%;
    max-width: 540px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}






/*responsive*/
@media screen and (max-width:576px){
    .menu-toggle{
        display: flex;
    }
    nav ul{
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        z-index: -1;
        background-color: #5d4954;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide{
        opacity: 1;
        transform: translateX(0);
    }
    nav ul li a{
        color:  rgb(190, 188, 188);
        text-decoration: none;
        font-size: 12px;
        letter-spacing: 3px;
    }
    
    nav ul li a:hover{
        color: rgb(160, 153, 159);
    }

    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product.col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
}

@media screen and (max-width:768px){
    nav ul{
        width: 50%;
    }
}